<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title> 欢迎 wfxu !</title>
		
		{% block style %}
		{% load static %}		
		<link rel="stylesheet" type="text/css" href="{% static 'wfxu.css' %}" >
		{% endblock %}
	</head>
	<body>
		<div class="page">
			<!--头部-->
			<div id="top">
				<p> 看不到未来，只有做好当下 </p>
			</div>
			<!--导航-->
			<div id="nav">
				<ul>
					<li> <a href="http://www.wfxxu.wang/">HOME</a> </li>
					<li> <a href="http://www.wfxxu.wang/blog">BLOG </a> </li>
					<li> <a href="http://www.wfxxu.wang/log">LOG</a> </li>
					<li> <a href="http://www.wfxxu.wang/about">ABOUT</a> </li>
				</ul>
			</div>
			<!--内容-->
			<div id="content">
				{% block mainbody %}
				{% endblock %}
			</div>
			<!--底部-->
			<hr />
			<div style="clear:both"></div>
			<div id="bottom">
				<p>created:2017-03-08</p>
				<p>author:wfxu</p>
				<p>purpose:Django</p>
			</div>
		</div>
	</body>
</html>
