{% extends "blog.html" %}
{% block artic %}	
	{% for i in con %}
		<h3>{{ i.topic }}</h3>
		<div class="rows">
			<p>{{ i.classify }}</p>
			{{ i.toptime|date:"SHORT_DATE_FORMAT" }}&nbsp&nbsp&nbsp{{ i.toptime|time:"H:i" }}
		</div>
		{% autoescape off %}
		<div id="article">{{ i.content }}</div>
		{% endautoescape %}
		<hr />
		<div class="comment">
			<form action="/blog/{{ i.topic }}" method="post">
				{% csrf_token %}
				<textarea name="q" cols=50 rows=5 
					onfocus="if (value=='请输入您的留言...'){value=''}" 
					onblur="if (value==''){value='请输入您的留言...'}">请输入您的留言...</textarea>
				<input type="submit" value="留言">
			</form>

			{% for m in list_mes %}
			<p>
				<span style="color:gray;font-size:20px">第{{ m.floor }}只小蚂蚁说：</span>
				<span>{{ m.message }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
				<span style="color:gray;font-size:20px">{{ m.mestime }}</span>
			</p>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}