{% extends "blog.html" %}
{% block artic %}
		{% for i in list_blog_category %}
			<div id="dir_top" class="artic">
				<a href="http://www.wfxxu.wang/blog/{{ i.topic }}" name="q">{{ i.topic }}</a>
				<div style="float:right">
					<a href="http://www.wfxxu.wang/category/{{ i.classify }}">{{ i.classify }}</a>
				</div>
			</div>
			<div id="dir_mid" class="artic">
				{{ i.digest|truncatechars:200 }}
				<a href="http://www.wfxxu.wang/blog/{{ i.topic }}">[阅读全文]</a>
			</div>
			<div id="dir_bot" class="artic">
				<div>{{ i.toptime|date:"SHORT_DATE_FORMAT" }}&nbsp&nbsp&nbsp{{ i.toptime|time:"H:i" }}</div>
			</div>
			<hr />
		{% endfor %}
{% endblock %}
