{% extends "base.html" %}
{% block mainbody %}

<form action="/message" method="post">
	{% csrf_token %}
	<textarea name="q" cols=50 rows=5 
		onfocus="if (value=='请输入您的留言...'){value=''}" 
		onblur="if (value==''){value='请输入您的留言...'}">请输入您的留言...</textarea>
	<input type="submit" value="留言">
</form>

{% for m in list_mes %}
<p>
	<span style="color:gray;font-size:20px">{{ m.id }}楼</span>
	<span>{{ m.message }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
	<span style="color:gray;font-size:20px">{{ m.mestime }}</span>
</p>
{% endfor %}

{% endblock %}