<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title> 欢迎 wfxu !</title>
		{% load static%}
		{% block style %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/wfxu_con.css" >
		<script src="{% static 'js/home-nav.js' %}"></script>
		{% endblock %}
	</head>
	<body>
		<div class="page" >
            <!--导航栏-->
            <div id="click" onmouseover="divshow()" onmouseout="divhidden()">
                <div id="nav">
                    <ul>
                        <li> <a href="http://127.0.0.1:8000/">HOME</a> </li>
                        <li> <a href="http://127.0.0.1:8000/blog">BLOG </a> </li>
                        <li> <a href="http://127.0.0.1:8000/log">LOG</a> </li>
                        <li> <a href="http://127.0.0.1:8000/about">ABOUT</a> </li>
                    </ul>
                </div>
            </div>
			<!--内容-->
			<div id="content">
				{% block mainbody %}
                    <div id="main" style="height:400px;width:700px"></div>
                    {% load static %}
                    <script src="{% static 'js/build/dist/echarts.js' %}"></script>
                    <script src="{% static 'js/home.js' %}"></script>
				{% endblock %}
			</div>
		</div>
	</body>


